{% extends 'music_spot/layout.html' %}

{% block content %}
    <h1 class="title">
        {{ artist.name }}
    </h1>
    <table class="table table-hover">
        <caption> List of songs </caption>
        <thead class ="thead-light">
        <tr><th>Song</th><th>link</th></tr>
        </thead>
        {% for song in artist.song_set.all %}
        <tr><td> <a href = {% url 'music_spot:song_detail' song.id %}>{{ song.name }}</a> </td> <td> <a target="_blank" href={{song.youtube_link}}>{{ song.youtube_link }} </a></td></tr>
        {% endfor %}
    </table>
{% endblock %}


